<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukeleber.barcodestudio" >

    <!-- Google Cloud Print Requires -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- Google Cloud Print Requires -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-sdk
            android:maxSdkVersion="19"
            android:minSdkVersion="19"
            android:targetSdkVersion="19" />

        <activity
            android:name=".gui.BarcodeStudio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.SymbologyEditor"
            android:label="@string/title_activity_symbology_settings" >
        </activity>
        <activity
            android:name=".gui.MediaEditor"
            android:label="@string/title_activity_page_setup" >
        </activity>
        <activity
            android:name=".gui.MediaPreview"
            android:label="@string/title_activity_page_setup_preview" >
        </activity>
        <activity
            android:name=".gui.PrintPreview"
            android:label="@string/title_activity_print_preview" >
        </activity>
    </application>

</manifest>
